@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 120 20% 96%;
    --foreground: 231 82% 16%;
    --border: 120 10% 85%;

    --primary: 231 82% 16%;
    --secondary: 142 71% 58%;
  }

  .dark {
    --background: 120 10% 5%;
    --foreground: 120 30% 90%;
    --border: 120 15% 20%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
    font-feature-settings: "kern", "liga";
  }

  ul:not(.list-none) {
    @apply list-disc pl-6;
  }

  ol {
    @apply list-decimal pl-6;
  }

  .theme {
    --animate-line-shadow: line-shadow 15s linear infinite;
    --animate-meteor: meteor 5s linear infinite;
  }
}

@layer base {
  :root {
    --background: 120 20% 96%;
    --foreground: 231 82% 16%;
    --border: 120 10% 85%;

    --primary: 231 82% 16%;
    --secondary: 142 71% 58%;
  }

  .dark {
    --background: 120 10% 5%;
    --foreground: 120 30% 90%;
    --border: 120 15% 20%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
    font-feature-settings: "kern", "liga";
  }

  ul:not(.list-none) {
    @apply list-disc pl-6;
  }

  ol {
    @apply list-decimal pl-6;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@theme inline {
  @keyframes line-shadow {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 100% -100%;
    }
  }

  @keyframes meteor {
    0% {
      transform: rotate(var(--angle)) translateX(0);
      opacity: 1;
    }

    70% {
      opacity: 1;
    }

    100% {
      transform: rotate(var(--angle)) translateX(-500px);
      opacity: 0;
    }
  }
}